/* line 3, ../scss/admin-style.scss */
.jsj_code_highlight {
  /* * * * Code * * * */
  /* * * * Thumbnails * * * */
}
/* line 7, ../scss/admin-style.scss */
.jsj_code_highlight code {
  display: inline-block;
  padding: 0.8em;
  padding-right: 1.8em;
}
/* line 15, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight_style_image_container {
  display: inline-block;
  width: 45%;
  max-width: 250px;
}
/* line 20, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight_style_image_container p {
  margin: 0 10px;
  padding: 0;
}
/* line 25, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight_style_image_container img {
  width: 100%;
}
/* line 29, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight_style_image_container input[type=radio] {
  display: none;
}
/* line 33, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight_style_image_container input[type=radio] + img {
  cursor: pointer;
  border: 3px solid transparent;
}
/* line 38, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight_style_image_container input[type=radio]:checked + img {
  border: 3px solid #2ea2cc;
}
/* line 45, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight_other_options table {
  font-size: 13px;
}
/* line 47, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight_other_options table td {
  padding: 5px;
  min-width: 150px;
}
/* line 54, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight_other_options, .jsj_code_highlight .jsj_code_highlight-options_box {
  max-width: 600px;
}
/* line 58, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight-registration_box {
  padding: 7px;
  margin: 10px 0px;
  border: 1px #999 solid;
  background: #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 65, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight-registration_box h4, .jsj_code_highlight .jsj_code_highlight-registration_box p {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 73, ../scss/admin-style.scss */
.jsj_code_highlight .tab-nav h2 {
  border-bottom: 1px #ccc solid;
}
/* line 76, ../scss/admin-style.scss */
.jsj_code_highlight .tab-nav .nav-tab {
  background: none;
}
/* line 82, ../scss/admin-style.scss */
.jsj_code_highlight .jsj_code_highlight-tab-content.disabled {
  display: none;
}

@media all and (min-width: 720px) {
  /* line 92, ../scss/admin-style.scss */
  .jsj_code_highlight .jsj_code_highlight_style_image_container {
    width: auto;
  }

  /* line 96, ../scss/admin-style.scss */
  .jsj_code_highlight .jsj_code_highlight_style_image_container img {
    width: 150px;
  }
}
@media all and (min-width: 960px) {
  /* line 103, ../scss/admin-style.scss */
  .jsj_code_highlight .jsj_code_highlight_style_image_container img {
    width: 200px;
  }
}
